.address {}
.address__wrapper {
  padding: 30px 20px 25px;
}
.address__wrapper--light {
  background-color: @base-color;
}
.address__wrapper--dark {
  background-color: @additional-color;
}
.address__title {
  font-size: 16px;
  font-weight: 20px;
  text-transform: uppercase;
}
.address__description {
  font-family: Arial, sans-serif;
  line-height: 20px;
}
.address__map {}
