.advantages {
  padding: 0 0 30px;
}

.advantages__title {
  margin: 0;
  padding: 15px 0 10px;
  font-size: @title-font;
  line-height: 60px;
  font-weight: 400;
}

.advantages__list {
  .list-reset();
}

.advantages__item {
  font-family: "Arial", sans-serif;
  padding: 7px 0 7px 80px;
  margin: 0 0 20px;
}
