.advantages {
  padding: 0 0 30px;
  margin: 0 20px;
}
.advantages__title {
  padding: 15px 0 10px;
}
.advantages__list {
  list-style: none;
}
.advantages__item {
  font-family: Arial, sans-serif;
  padding: 10px 0;
}
.advantages__item--usefully {}
.advantages__item--simply {}
.advantages__item--lunch {}
.advantages__item--result {}
