.card {
  padding: 25px 20px;
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
}

.card__title {
  margin: 0;
  padding: 0 0 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}

.card__descrition {
  padding: 0 0 24px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.card .button {
  padding: 13px 0;
  font-size: 16px;
  line-height: 20px;
}
