.card {
  padding: 25px 20px;
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
}
.card__link {}
.card__img {}
.card__title {

}
.card__title-link {
  color: #000000;
}
.card__descrition {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.card .button {
  padding: 13px 0;
  font-size: 16px;
  line-height: 20px;
}
