.catalog__list {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .catalog {
    padding: 0 30px;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }

  .catalog__list--goods {
    flex-direction: column;
  }

  .catalog__item-wrapp {
    padding: 40px;
    position: relative;
    background: none;
  }

  .catalog__item-wrapp::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: @additional-color;
    z-index: -1;
  }

  .catalog__item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    padding: 0 110px;
  }

  .catalog__item:nth-child(4) {
    margin-right: 0;
  }
}
