.catalog-all {
  padding: 25px 20px;
  text-align: center;
}

.catalog-all__veiw {
  margin: 0;
  padding: 60px 0 10px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-all__legend {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog-all__link {
  display: block;
  width: 100%;
  margin: 22px 0 0;
  padding: 15px 0;
  background-color: @additional-color;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
