.copyright__link-logo {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 7px 0;
  margin-left: -1px;
  color: #444444;

  &:hover {
    .copyright__link-icon {
      fill: @button-color;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link-icon {
  margin: 3px 0 0;
  color: #666666;
}

@media (min-width: @tablet-width) {
  .copyright__link-logo {
    padding: 0;
  }

  .copyright__link-icon {
    margin: -6px 0 0 0;
  }
}
