.copyright__link-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  display: block;
  padding: 10px 0;
  margin-left: -1px;
  color: #444444;
}

.copyright__link-logo {
  margin-top: -4px;
}

@media (min-width: @tablet-width) {
  .copyright__link-text {
    padding: 3px 21px 10px 0;
  }
}
