.example {
  background-color: @additional-color;
  padding: 0 20px;
}

.example__title {
  padding: 35px 0 10px;
}

.example__description {
  font-family: "Arial", sans-serif;
  padding: 25px 0;
}

.example__legend {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.example__item {
  list-style: none;
}
