.example {
  background-color: @additional-color;
}

.example__title {
  margin: 0;
  padding: 15px 20px 23px;
  font-size: @title-font;
  line-height: 60px;
  font-weight: 400;
}

.example__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  padding: 0 22px 25px 20px;
}

.example__statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.example__statistics-top {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.example__data {
  display: flex;
  flex-direction: column;
  width: 124px;
  margin: 0;
  padding-top: 13px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  align-items: center;
}

.example__legend {
  font-family: "Arial", sans-serif;
  color: #444444;
  width: 77px;
  font-size: 12px;
  line-height: 12px;
  padding-right: 5px;
  padding-left: 5px;
  margin: 9px 0 -16px;
  text-align: center;
  background-color: @additional-color;
}

.example__outlay {
  margin: 34px 0;
  text-transform: uppercase;
  color: @font-color;
  line-height: 20px;
  text-align: center;
  width: 100%;
}

.example__slider-wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
}

.example__slider-list {
  position: relative;
  display: flex;
  width: 320px;
  height: 240px;
}

.example__image {
  display: block;
}

.example__image-after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: @additional-color;
  object-fit: none;
  object-position: left;
}

.example__slider-toggles {
  width: 250px;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.example__toggle {
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: @font-color;
  background-color: @additional-color;
  border: none;
  text-transform: uppercase;
  border-bottom: 1px dashed @border-color;

  &:hover {
    border-bottom: 1px solid @border-color;
  }
}

.example__controls-bar {
  position: relative;
  width: 84px;
  height: 14px;
  margin-top: 3px;
  margin-right: 17px;
  margin-left: 18px;
  background-color: @base-color;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}

.example__controls-bar::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 35px;
  height: 6px;
  background-color: @button-color;
  border-radius: 10px;
}

.example__controls-button {
  display: none;
}

@media (min-width: @tablet-width) {
  .example {
    margin-top: 11px;
    background: linear-gradient(to top, #f2f2f2 462px, #ffffff 462px);
    border-top: 1px solid #e6e6e6;
  }

  .example__title {
    padding: 44px 0 64px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    padding: 0 20px 16px 0;
  }

  .example__statistics {
    flex-direction: row;
    padding: 0;
    margin-top: 37px;
  }

  .example__statistics-top {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .example__data {
    width: 162px;
    margin-right: 42px;
    padding-top: 14px;
    font-size: 30px;
    line-height: 37px;
  }

  .example__legend {
    padding: 0;
    margin-top: 11px;
    margin-bottom: -6px;
    font-size: @base-font;
    line-height: 14px;
    color: #444444;
    background-color: @base-color;
  }

  .example__legend--weight {
    width: 105px;
  }

  .example__legend--time {
    width: 130px;
  }

  .example__outlay {
    width: 190px;
    margin-top: 7px;
    margin-bottom: 0;
    margin-left: auto;
    font-size: 20px;
    line-height: 28px;
    color: @font-color;
    text-align: right;
  }

  .example__slider-list {
    margin-top: 66px;
    width: 690px;
    height: 517px;
    margin-left: 13px;
  }

  .example__image {
    width: 690px;
    height: 517px;
}

  .example__image-after {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: @additional-color;
  }

  .example__slider-toggles {
    width: 600px;
    margin-top: 20px;
  }

  .example__slider-toggle {
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-transform: uppercase;
  }

  .example__slider-toggle--before {
    margin-left: 14px;
  }

  .example__controls-bar {
    position: relative;
    width: 428px;
    height: 6px;
    margin-top: 7px;
    margin-right: 21px;
    margin-left: 24px;
    background-color: #dcdcdc;
    border: none;
    border-radius: 4px;
  }

  .example__controls-bar::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 53%;
    width: 8px;
    height: 8px;
    background-color: @button-color;
    border-radius: 560%;
    z-index: 1;
  }

  .example__controls-bar::after {
    content: "";
    position: absolute;
    top: -14px;
    left: 50%;
    width: 34px;
    height: 34px;
    background-color: @base-color;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: @desktop-width) {
  .example {
    border-top: 0;
    position: relative;
    background: none;
  }
}

