.page-footer {
  padding: 0 20px;
}
.page-footer__wrapper {}
.page-footer__title-img {
  padding: 40px 0 30px;
}
.page-footer__social {
  padding: 20px 0;
}
.page-footer__copyright {
  padding: 20px 0;
}
