.page-header {
  margin: 0 auto;
}

.page-header__top {
  padding: 13px 20px 12px;
  border-bottom: 1px solid @border-color;
}

.page-header__logo {
  display: block;
  width: 191px;
  height: 40px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0;
    border: none;
  }

  .page-header__top {
    padding: 0;
    border-bottom: none;
  }

  .page-header__logo {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding: 56px 0;
  }

  .page-header__wrapper {
    padding: 0;
  }

  .page-header__logo {
    width: 202px;
    height: 59px;
  }
}
