.page-header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &--opened {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
  }

  &--nojs {
    position: static;
  }
}

.page-header__top {
  padding: 13px 20px 12px;
  border-bottom: 1px solid @border-color;
}

.page-header__logo {
  display: block;
  width: 191px;
  height: 40px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:visited {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 30px;
    border: none;
  }

  .page-header__top {
    padding: 0;
    border-bottom: none;
  }

  .page-header__logo {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding: 56px 110px;
  }

  .page-header__logo {
    width: 202px;
    height: 59px;
  }
}
