.programs {
  margin: 0 20px;
}

.programs__item {
  background-color: @additional-color;
  margin: 20px 0;
  padding: 0 20px;
}

.programs__title {
  font-size: 24px;
  font-weight: 37px;
  color: #000000;
  padding: 20px 0;
}

.programs__description {
  font-family: "Arial", sans-serif;
  padding: 20px 0;
  border-bottom: 1px solid @border-color;
}

.programs__link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  padding: 20px 0 25px;
}
