.promo {
  background-color: @button;
  background-image: url('/img/index-background-mobile@1x.jpg');
  background-position: top;
  background-repeat: no-repeat;

}
.promo__title {
  color: @base-color;
  padding: 30px 0 20px;
  text-align: center;
}
.promo__description {
  line-height: 14px;
  color: @base-color;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}
.promo__image {
  padding: 30px 0 10px;
}

