.site-list {
  .list-reset();
}

.site-list__item {
  text-align: center;
  border-bottom: 1px solid @border-color;
}

.site-list__item:nth-child(1) {
  border-top: 1px solid @border-color;
}

.site-list__item a {
  color: #000000;
  display: block;
  width: 100%;
  padding: 20px;
}
