.site-list {
  .list-reset();
}

.site-list__item {
  text-align: center;
}

.site-list__item-link {
  color: @font-color;
  display: block;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid @border-color;
}


@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .site-list__item-link {
    width: auto;
    padding: 17px 0 7px;
    margin-left: 35px;
    border-bottom: 0;

    &[href]:hover {
      opacity: 0.6;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }

  .site-list__item-link--active {
    border-bottom: 2px solid @button-color;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    max-width: 610px;
    justify-content: flex-start;
    margin-left: 95px;
  }

  .site-list--main {
    .site-list__item-link {
      color: @base-color;
    }

    .site-list__item-link--active {
      color: @base-color;
      border-bottom: 2px solid @base-color;
      background-color: transparent;
    }
  }

  .site-list__item-link {
    margin-left: 35px;
  }
}
