.social {
  padding: 20px 0 17px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social__item {
  .list-reset();
  padding: 0 20px;
}

.social__link {
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: #c8e0ba;
  }
}

@media (min-width: @tablet-width) {
  .social {
    border-top: 0;
    border-bottom: 0;
    padding: 12px 0 0;
  }

  .social__item {
    padding: 0 15px;
  }

  .social__link {
    &--vk svg {
      width: 30px;
      height: 16px;
    }

    &--insta svg {
      width: 23px;
      height: 23px;
    }

    &--facebook svg {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: @desktop-width) {
  .social {
    padding: 9px 0 0;
  }
}
