.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social__item {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .social__item {
    padding: 0 20px;
  }

  .social__link {
    &[href]:hover {
      color: #68b738;
    }

    &[href]:active {
      color: #c8e0ba;
    }
  }
}
